* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  .pipi {
    position: relative;
    right: 400px;
    text-align: center;
    border: 2px solid blue;
    background-color: burlywood;
    color: darkred;
  }
   
   
  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }

  strong {
    font-size: 30px;
    color: darkred;
    background-color: burlywood;
  }
